# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
/.next/
/out/
/build
next-env.d.ts

# Production
dist/

# Environment
.env
.env.local
.env*.local

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
npm-debug.log*

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo

# Testing
/coverage

# Editor
.vscode/
.idea/
